nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}

nav li:hover{
    background-color: lightgray;
}

nav li a{
    text-decoration: none;
    color: black;
}

/* nested menu styles */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow ;
    padding-left: 10px;
}

nav li:hover > .dropdown{
    display: block;
}